<!DOCTYPE html>
 <html lang="es">
    <head>
        <title style= "text-align: center">Tata Magic Skin</title>
        <meta charset="utf=8"/>
        <meta name="keyboards" content="maquillaje, cuidado personal, skin care">
        <link rel="stylesheet" href= "estilo.css">
    </head>
    <body> 
        <div>
            <h1 id="titulo" style="text-align:center">Tata Magic Skin</h1>
            
            <nav>
                <ul id="lista">
                    <center><a><li>Inicio</li></a>
                        <a href="productos.html"><li>Producto</li></a>
                        <a href ="contactos proyecto.html"><li>Contactos</li></a>
                        <a href ="comentariosIndex.html"><li>Comentarios</li></a>
                    </center>
                </ul >
            </nav> 
            <center><img src="https://img1.wsimg.com/isteam/ip/9f16c6df-144f-422c-bccb-edcb58c4abc2/blob.png/:/rs=w:1160,h:1160" width="450" height="450" > </center>
            
            <center><h2 id="subtitulo"><i>Bienvenido a Tata Magic Skin</i></h2></center>    
    </body>
    <center><div id="derechos"data-ux="Layout" ><div id="derechos"s data-ux="FooterDetails" data-aid="FOOTER_COPYRIGHT_RENDERED" data-typography="DetailsAlpha" ><p style="margin:0"><span>Copyright © 2022 𝑻𝒂𝒕𝒂 𝑴𝒂𝒈𝒊𝒄 𝑺𝒌𝒊𝒏 - Todos los derechos reservados.</span></p></div><hr aria-hidden="true" role="separator" data-ux="HR" ><p data-ux="FooterDetails" data-aid="FOOTER_POWERED_BY_RENDERED" data-typography="DetailsAlpha"><span>Con tecnología de <a rel="nofollow noopener" role="link" aria-haspopup="true" data-ux="Link" target="_blank" data-aid="FOOTER_POWERED_BY_RENDERED_LINK" >HTML Y CSS</a></span></p></div></center>
    
</html>