
{% extends "layout.html" %}
{% block body %}
 <div class="row"><h3>Registro de Datos</h3></div>
  <div class="row">
    <div class="col-md-4">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('add_student')}}" method="POST" id="formulario">
          <div class="form-group" id="grupo__usuario">
            <label for="id_usuario" class ="formulario__label">Numero de cedula</label>
             <div>
                <input type="number" class="form-control" name="id_usuario" placeholder="Numero de Cedula">
                
             </div>
          </div>
            <p class="formulario__input-error">El numero de cedula debe estar lleno y tener 10 digitos</p>
          <div class="form-group" id="grupo_nom1">
              <label form  ="nom_us1" class="formulario__label">Primer Nombre</label>
             <div>
               <input type="text" class="form-control" name="nom_us1" placeholder="Primer Nombre">
               
              </div>
          </div>
          <p class="formulario__input-error">El Primer Nombre debe tener mas de 3 letras</p>
          <div class="form-group" id="grupo_nom2">
             <label form ="nom_us2" class="formulario__label">Segun Nombre</label>
              <div>
                <input type="text" class="form-control" name="nom_us2" placeholder="Segundo nombre">
                
              </div>
          </div>
          <p class="formulario__input-error">El Segundo Nombre debe tener mas de 3 letras</p>
          <div class="form-group" id="grupo_ape1">
            <label class="form-group" for="ape_us1">Primer Apellido</label>
            <div>
              <input type="text" class="form-control" name="ape_us1" placeholder="Primer Apellido">
              >
            </div>
          </div>
          <p class="formulario__input-error">El Primer Apellido debe tener mas de 3 letras</p>
          <div class="form-group" id="grupo_ape2">
            <label class="form-group" for="ape_us2">Segundo Apellido </label>
             <div>
               <input type="text" class="form-control" name="ape_us2" placeholder="Segundo Apellido">
               
             </div>
          </div>
          <p class="formulario__input-error">El Segundo Apellido debe tener mas de 3 letras</p>
          <div class="form-group" id="grupo_pri">
            <label class="form-group" for="calle_pri">Calle principal</label>
             <div>
              <input type="text" class="form-control" name="calle_pri" placeholder="Calle principal de su domicilio">
              
             </div>
          </div>
          <p class="formulario__input-error">La calle principal debe tener mas de 4 letras</p>
          <div class="form-group" id="grupo_secu">
            <label class="form-group" for="calle_secu">Calle Secundaria</label>
             <div>
               <input type="text" class="form-control" name="calle_secu" placeholder="Calle secundaria de su domicilio">
               
             </div>
          </div>
          <p class="formulario__input-error">La calle secundaria debe tener mas de 4 letras</p>
          <div class="form-group" id="grupo_nro">
            <label class="form-group" for="nro_casa">Numero de casa</label>
             <div>
               <input type="text" class="form-control" name="nro_casa" placeholder="Numero de casa">
               
             </div>
          </div>
          <p class="formulario__input-error">El numero de casa debe tener mas de 3 digitos</p>
          <div class="form-group" id="grupo_parroquia">
            <label class = "form-group" for="parroquia">Parroquia</label>
             <div>
               <input type="text" class="form-control" name="parroquia" placeholder="Parroquia donde se encuentra su domicilio">
               
             </div>
          </div>
          <p class="formulario__input-error">La Parroquia debe tener mas de 3 letras</p>
          <div class="form-group" id="grupo_telefono">
            <label class = "form-group" for="telefono">Telefono</label>
             <div>
               <input type="number" class="form-control" name="telefono" placeholder="Ingrese su numero telefonico">
               
             </div>
            </div>
          <p class="formulario__input-error">El numero de telefono debe de tener mas de 10 digitos numericos</p>
          <div class="form-group" id="grupo_email">
            <label class = "form-group" for="email">Email</label>
            <div>
              <input type="email" class="form-control" name="email" placeholder="Correo Electronico">
              
            </div>
          </div>
          <p class="formulario__input-error">El correo solo puede contener letras,numeros,puntos,giones y guion bajo</p>
          <div class="form-group" id="grupo_password">
            <label class = "form-group" for="password">Contraseña</label>
             <div>
               <input type="password" class="form-control" name="password" placeholder="Contraseña">
               
             </div>
          </div>
          <p class="formulario__input-error">La contraseña debe ser de 4 a 20 caracteres</p>
          <div class="form-group" id="grupo_validacion">
            <label class = "form-group" for="validacion">Repetir Contraseña</label>
             <div>
               <input type="password" class="form-control" name="validacion" placeholder="Ingrese su contraseña nuevamente">
               
             </div>
          </div>
          <p  class="formulario__input-error">La contraseña de ser igual a la anterior</p>
          <div class="form-group" id="grupo_rol">
            <label class = "form-group" for="rol">Codigo de rol</label>
             <div>
               <input type="number" class="form-control" name="id_rol" placeholder="Codigo de rol">
               
             </div>
          </div>
          <p class="formulario__input-error">El id debe tener 4 caracteres</p>
          
          <button class="btn btn-primary btn-block">
            Save 
          </button>
        </form>
      </div>
    </div>
    
  </div>
</div>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  
{% endblock %}