<!DOCTYPE html>
<html lang="es-EC">
    <head><title>Loggin</title>
        <meta charset="utf-8"/>
<meta name="keywords" content="Loggin"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/loggin3.css')}}">
</head>

<body>
  <CENTER><h1>Ingresa Tus Datos </h1> 
    <form id ="login"  method="post" action="val" > 
     <table width="200" border="0"> 
       <tr> 
         <th scope="row"><h2>Usuario</h2></th> 
         <td><span class="cnt"> 
           <input name="email1" type="text" class="Input" value="" size="20" /> 
         </span></td> 
       </tr> 
       <tr> 
         <th height="33" scope="row"><h2>Clave</h2></th> 
         <td><span class="cnt"> 
           <input name="password1" type="password" class="Input" value="" size="20" /> 
         </span></td> 
         
       </tr> 
       <tr>
        <td><span class="cnt"> 
          <button class="btn btn-primary btn-block">
            ingresar
          </button>
          
         </span></td>
       </tr>
     </table> 
    </form> 
  </CENTER>
</body>
</html>